@font-face {
    font-family: Arimo;
    src: url("../fonts/Arimo-Regular.ttf");
}

.all-page {
    width: 1147px;
    margin: auto;
    /*height: 768px;*/
    background: #3A4965;
    font-family: Arimo, sans-serif;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.pricing-plan-table {
    background: white;
    width: auto;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

.table-head-name {
    width: 311px;
    height: 157px;
    /*border-right: 2px solid rgba(0,0,0,0.5);*/
    /*box-shadow: inset -2px 0 0 rgba(0,0,0,0.2);*/
    vertical-align: middle;
}

.table-name-text {
    width: 100%;
    height: 157px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.choose {
    font-size: 18px;
    text-transform: uppercase;
    color: #484848;
    padding-bottom: 8px;
    display: inline-block;
}

.pricing-plan {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #484848;
    /*display: inline-block;*/
}

.table-header-plan-name {
    width: 278px;
    height: 71px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
}

.standart {
    background: #89C331;
}

.ultimate {
    background: #F04A56;
}

.premium {
    background: #20807C;
}

.plan-price {

    /*vertical-align: middle;*/
}

.plan-price-standart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87px;
    /*vertical-align: middle;*/
}

.plan-price-container-standart {
    width: 211px;
    height: 50px;
    vertical-align: middle;
    display: flex;
    position: relative;
}

.price-dollars-standart {
    font-size: 60px;
    font-weight: bold;
    color: #484848;
}

.price-decimals-standart {
    font-size: 24px;
    font-weight: bold;
    color: #484848;
    padding-top: 4px;
}

.per-month-standart {
    font-size: 18px;
    text-transform: uppercase;
    color: #484848;
    position: absolute;
    right: 0;
    bottom: 0;
}

.plan-price-ultimate {
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 87px;*/
}

.plan-price-container-ultimate {
    width: 211px;
    height: 50px;
    margin: auto;
    vertical-align: middle;
    display: flex;
    position: relative;
}

.price-dollars-ultimate {
    font-size: 60px;
    font-weight: bold;
    color: #484848;
}

.price-decimals-ultimate {
    font-size: 24px;
    font-weight: bold;
    color: #484848;
    padding-top: 4px;
}

.per-month-ultimate {
    font-size: 18px;
    text-transform: uppercase;
    color: #484848;
    position: absolute;
    right: 0;
    bottom: 0;
}

.plan-price-premium {
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 87px;*/
}

.plan-price-container-premium {
    width: 211px;
    height: 50px;
    margin: auto;
    vertical-align: middle;
    display: flex;
    position: relative;
}

.price-dollars-premium {
    font-size: 60px;
    font-weight: bold;
    color: #484848;
}

.price-decimals-premium {
    font-size: 24px;
    font-weight: bold;
    color: #484848;
    padding-top: 4px;
}

.per-month-premium {
    font-size: 18px;
    text-transform: uppercase;
    color: #484848;
    position: absolute;
    right: 0;
    bottom: 0;
}

.fas, .far {
    margin-right: 10px;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    color: #848484
}

.plan-properties {
    color: #484848;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    /*box-shadow: inset -2px 0 0 rgba(0,0,0,0.2);*/
    /*border: 0.3px solid lightgrey;*/
}

.content-text {
    color: #484848;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    /*border: 0.3px solid lightgrey;*/
}

.bg-light-grey {
    background: #F2F2F2;
}

.bg-dark-grey {
    background: #E3E3E3;
}

.shadow-line {
    box-shadow: inset -2px 0 0 rgba(0, 0, 0, 0.05);
}

.button {
    font-size: 16px;
    text-decoration: none;
    padding: 20px 45px 13px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.button-contact-us {
    background: #484848;
    box-shadow: 0 7px 0 0 #404040;
}

.button-contact-us:hover {
    background: #404040
}

.buy-standart {
    background: #EEEEEE;
}

.button-buy-standart {
    background: #89C331;
    padding: 20px 58px 13px;
    box-shadow: 0 7px 0 0 #79B027;
}

.button-buy-standart:hover {
    background: #79B027;
}

.buy-unltimate {
    background: #F4F4F4;
}

.button-buy-ultimate {
    background: #F04A56;
    padding: 20px 58px 13px;
    box-shadow: 0 7px 0 0 #DF3A46;
}

.button-buy-ultimate:hover {
    background: #DF3A46;
}

.buy-premium {
    background: #EEEEEE;
}

.button-buy-premium {
    background: #20807C;
    padding: 20px 58px 13px;
    box-shadow: 0 7px 0 0 #16736F;
}

.button-buy-premium:hover {
    background: #16736F;
}

.contact {
    background: #DDDDDD;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
}